# See http://help.github.com/ignore-files/ for more about ignoring files.
.nx
# compiled output
dist
tmp
/out-tsc
backup*json
backup*qif
# dependencies
node_modules
coverage
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
sw.*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/css-data.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

libs/csv-to-json
libs/csv-to-json-rs
*.csv
.vercel
.turbo
local

SECRET.md