.monospace {
    font-family: monospace;
}

.muted {
    color: darkgray;
    font-size: 0.6em;
}

.at-select__dropdown {
    max-height: unset;
}

.at-select__selection {
    padding: 2px 24px 2px 8px;
}

.el-input--small {
    font-size: 12px;
}
